<div class="app-card" data-eqid="earthquake.eqid">
    <mat-card [ngClass]="getClass()" [class.active]="earthquake === selectedEarthquake" (click)="clickCard()">
        <div class="magnitude">{{earthquake.magnitude}}</div>
        <div class="details">
            <div class="detail-1">
                <div class="info">
                    <mat-icon>date_range</mat-icon>
                    {{earthquake.datetime | date:'mediumDate'}}
                </div>
                <div class="info">
                    <mat-icon>access_time</mat-icon>
                    {{earthquake.datetime | date:'shortTime'}}
                </div>
            </div>
            <div class="detail-2" [class.show]="earthquake === selectedEarthquake">
                <div class="info">
                    <mat-icon>explore</mat-icon>
                    +{{+earthquake.lat}}, -{{earthquake.lng}}
                </div>
                <div class="info">
                    <mat-icon>offline_bolt</mat-icon>
                    {{earthquake.depth}} miles
                </div>
            </div>
        </div>
    </mat-card>
</div>