@import '../../../variables.scss';

.app-card {

    >mat-card {
        display: flex;
        height: 60px;
        transition: height $delay-min ease-out;
        background: url('../../../assets/images/bg-card.png');
        background-size: contain;
        cursor: pointer;

        &.high {
            background-color: $red;
            border-color: darken($red, 10%);
        }

        &.medium {
            background-color: $orange;
            border-color: darken($orange, 10%);
        }

        &.low {
            background-color: $green;
            border-color: darken($green, 10%);
        }

        .magnitude {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-xl;
        }

        .details {
            flex: 2;

            .info {
                display: flex;
                align-items: center;
                font-size: 4 * $font-base;
                margin: $margin-size-xs;

                mat-icon {
                    margin: 0 $margin-size-xs;
                }
            }

            .detail-2 {
                display: none;

                &.show {
                    display: block;
                }
            }
        }

        &.active {
            height: 120px;
            transition: height $delay-min ease-in;
            border-width: 4 * $border-width-default;
            border-style: solid;
            padding: $padding-size-md;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .app-card {
        >mat-card {
            height: 60px;

            .details {
                display: flex;

                .detail-2 {
                    display: block;
                }
            }

            &.active {
                height: 60px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .app-card {
        >mat-card {
            height: 50px;
            padding: $padding-default;

            &.active {
                height: 110px;
            }

            .magnitude {
                font-size: $font-size-lg;
            }

            .details {
                .info {
                    font-size: $font-default;
                    margin: 0 $margin-size-xs $margin-size-xs;
                }
            }
        }
    }
}