@import '../../../variables.scss';

.app-header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 $padding-default;
    background: url('./../../../assets/images/bg-header.png');
    background-position: center;

    .logo {
        height: 60px;
        margin-right: $margin-default;
    }

    h1 {
        font-size: $font-size-md;
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    .app-header {
        height: 50px;

        .logo {
            height: 40px;
        }

        h1 {
            font-size: $font-size-sm;
        }
    }
}