.app-root {
    .content-section {
        height: calc(100vh - 120px);
        overflow-y: auto;
    }
}

@media only screen and (max-width: 480px) {
    .app-root {
        .content-section {
            height: calc(100vh - 80px);
        }
    }
}